{
  "openapi": "3.0.1",
  "info": {
    "title": "ClmShipmentWebService",
    "description": "ClmShipmentWebService",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://msblocks.selisestage.com/"
    }
  ],
  "paths": {
    "/ClmShipmentWebService/ExternalQuery/GetShipment": {
      "get": {
        "tags": [
          "ExternalQuery"
        ],
        "summary": "Looks up a shipment (either a native CLM shipment or a KonsHub shipment) by id and returns a reduced,\r\nexternal-facing representation of it. This is an integration endpoint for external systems: it\r\ninternally forwards the lookup, via an impersonated HTTP call, to the internal\r\n`ShipmentQuery/GetShipmentForExternal` endpoint and relays its response.",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentForExternalDtoQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentForExternalDtoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/IncidentCommand/CreateIncident": {
      "post": {
        "tags": [
          "IncidentCommand"
        ],
        "summary": "Creates a new incident/finding against a CLM, KonsHub, or equipment-booking shipment, links it to the\r\nshipment, and recalculates the shipment's incident counts. A background command is queued afterwards\r\nto generate thumbnails for the incident's attached files, and, if the shipment is already completed,\r\nto trigger PDF regeneration.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/IncidentCommand/DeleteIncident": {
      "post": {
        "tags": [
          "IncidentCommand"
        ],
        "summary": "Soft-deletes an incident by marking it as deleted (`IsMarkedToDelete`) rather than physically\r\nremoving it, then recalculates the owning shipment's incident counts to exclude it.",
        "description": "Validation requires a non-empty `ItemId` that resolves to an incident which exists and has not\r\nalready been marked as deleted.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteIncidentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteIncidentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteIncidentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/IncidentCommand/UpdateIncident": {
      "post": {
        "tags": [
          "IncidentCommand"
        ],
        "summary": "Updates the remark, attached files, and finding type of an existing incident, then recalculates the\r\nowning shipment's incident counts and re-queues thumbnail generation for the updated files.",
        "description": "Validation rejects the request unless the incident exists and the calling user is the same user who\r\noriginally created the incident.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIncidentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIncidentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIncidentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/IncidentQuery/GetIncidentDetail": {
      "post": {
        "tags": [
          "IncidentQuery"
        ],
        "summary": "Retrieves the full detail of a single incident/finding by its item id, including who created it\r\nand, for the requesting user, whether they are permitted to update or delete it (granted only when\r\nthe current user is the incident's creator).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIncidentDetailQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIncidentDetailQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetIncidentDetailQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentQueryResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentQueryResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/IncidentQuery/GetIncidentList": {
      "post": {
        "tags": [
          "IncidentQuery"
        ],
        "summary": "Retrieves all non-deleted incidents/findings raised against a specific shipment, enriched with\r\neach incident's creator display name and, where photos are attached, a thumbnail URL for the\r\nfirst photo.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIncidentListQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIncidentListQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetIncidentListQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentListQueryDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentListQueryDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/IncidentQuery/GetIncidentListByConnectionId": {
      "post": {
        "tags": [
          "IncidentQuery"
        ],
        "summary": "Retrieves all non-deleted incidents/findings linked to a given connection (e.g. a KonsHub or\r\nequipment-booking connection grouping shipments), enriched with each incident's creator display\r\nname and, where photos are attached, a thumbnail URL for the first photo.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIncidentListByConnectionIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIncidentListByConnectionIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetIncidentListByConnectionIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentListQueryDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentListQueryDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardCommand/CreateLeanDocument": {
      "post": {
        "tags": [
          "LeanCardCommand"
        ],
        "summary": "Registers an uploaded lean document (an Excel workbook used to bulk import/refresh lean cards) for a\r\nproject/site if it does not already exist, then queues it for background processing that parses the\r\nworkbook and creates or updates the corresponding lean cards.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeanDocumentCreateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LeanDocumentCreateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LeanDocumentCreateCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardCommand/LeanCardCreate": {
      "post": {
        "tags": [
          "LeanCardCommand"
        ],
        "summary": "Creates a new lean card (working package) for a project/site, assigning it to a sender and recipient\r\nteam, computing its initial status, and setting the access-control roles that determine who can read or\r\nupdate it. Also queues background jobs to refresh site-structure and team grouping counts.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeanCardCreateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LeanCardCreateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LeanCardCreateCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardCommand/LeanCardUpdate": {
      "post": {
        "tags": [
          "LeanCardCommand"
        ],
        "summary": "Updates an existing lean card's location (building/floor/laydown area), comment, dates, archived flag,\r\nvolume, and estimated transport unit; recalculates its status; and queues background jobs to re-sync\r\nsite-structure and team grouping counts using the old and new values.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeanCardUpdateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LeanCardUpdateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LeanCardUpdateCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardCommand/SaveWorkingPackageFileData": {
      "post": {
        "tags": [
          "LeanCardCommand"
        ],
        "summary": "Finalizes the working-package import: creates the lean document record for the uploaded file if one\r\ndoes not already exist, then queues a background command that creates or updates the actual lean cards\r\nfrom the previously mapped Excel data.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageFileDataSaveCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageFileDataSaveCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageFileDataSaveCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardCommand/SaveWorkingPackageHeaderMapping": {
      "post": {
        "tags": [
          "LeanCardCommand"
        ],
        "summary": "Saves the user-selected mapping between Excel columns and lean card fields (activity id, date format,\r\nsender/recipient team) for a previously uploaded working-package file, then queues background building\r\nof a preview of the resulting working packages by matching rows against existing teams and lean cards,\r\nnotifying the uploading user of the outcome.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageHeaderMappingSaveCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageHeaderMappingSaveCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageHeaderMappingSaveCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardCommand/SendWorkingPackageDateChangeEmail": {
      "post": {
        "tags": [
          "LeanCardCommand"
        ],
        "summary": "Sends an email notification, in each recipient's preferred language, to the members of a lean card's\r\n(working package's) sender team informing them that its start/end dates have changed.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageDateChangeEmailCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageDateChangeEmailCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageDateChangeEmailCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardCommand/UploadWorkingPackageFile": {
      "post": {
        "tags": [
          "LeanCardCommand"
        ],
        "summary": "Queues the initial background processing of an uploaded working-package Excel file: reading the\r\nselected sheet, parsing its rows/columns into a temporary upload record, and notifying the uploading\r\nuser once processing completes, in preparation for the header-mapping step.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageFileUploadCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageFileUploadCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageFileUploadCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardQuery/CheckLeanCardNameAvailibility": {
      "post": {
        "tags": [
          "LeanCardQuery"
        ],
        "summary": "Checks whether an activity id (lean card name) is still available for a given sender team, i.e. no\r\nexisting, non-deleted lean card for that team already uses it.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeanCardNameAvailibilityQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LeanCardNameAvailibilityQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LeanCardNameAvailibilityQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeanCardNameAvailibilityResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeanCardNameAvailibilityResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardQuery/DownloadWorkingPackageSampleFile": {
      "get": {
        "tags": [
          "LeanCardQuery"
        ],
        "summary": "Retrieves the downloadable sample Excel template used for bulk working-package import, selecting the\r\nfile variant based on the requested (or current user's) language and, if provided, whether the role is a\r\nvendor role.",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardQuery/GetShipmentCreateWorkingPackages": {
      "post": {
        "tags": [
          "LeanCardQuery"
        ],
        "summary": "Retrieves the lean cards (working packages) eligible to be added to a shipment for a site, restricted to\r\nthe requesting user's team assignments unless they are an admin, optionally scoped to a specific\r\nbuilding/floor, sender team, recipient team, or single working-package grouping, and split into those\r\ndue by the booking date versus all matches.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentCreateLeanCardsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentCreateLeanCardsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentCreateLeanCardsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentCreateWorkingPackagesResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentCreateWorkingPackagesResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardQuery/GetWorkingPackageFilePreviewData": {
      "post": {
        "tags": [
          "LeanCardQuery"
        ],
        "summary": "Retrieves a preview of the working packages that would be created or updated from a previously mapped\r\nworking-package Excel file, split into successfully matched rows and faulty rows - used to let the user\r\nreview results before committing the import.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageFilePreviewDataGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageFilePreviewDataGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageFilePreviewDataGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkingPackageFilePreviewDataResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkingPackageFilePreviewDataResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardQuery/GetWorkingPackageFileProcessedHeaders": {
      "post": {
        "tags": [
          "LeanCardQuery"
        ],
        "summary": "Retrieves the parsed sheet headers, detected date formats, any previously saved header mapping, and (for\r\nvendor uploaders) the teams they may assign the import to, for a previously uploaded working-package\r\nExcel file - used to render the header-mapping step of the import wizard.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageFileProcessedHeadersGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageFileProcessedHeadersGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageFileProcessedHeadersGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkingPackageFileProcessedHeadersResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkingPackageFileProcessedHeadersResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardQuery/GetWorkingPackageGanttChartData": {
      "post": {
        "tags": [
          "LeanCardQuery"
        ],
        "summary": "Retrieves a paged set of lean cards (working packages) for a site within a date range, formatted for\r\ndisplay on a Gantt chart, restricted to the requesting user's vendor teams unless they hold an\r\nadmin/project/site-level role.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageGanttChartGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageGanttChartGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackageGanttChartGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkingPackageGanttChartResponseListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkingPackageGanttChartResponseListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardQuery/GetWorkingPackages": {
      "post": {
        "tags": [
          "LeanCardQuery"
        ],
        "summary": "Retrieves a paged, status-filtered list of lean cards (working packages) for a site, restricted to the\r\nteams the requesting user has vendor access to unless they hold an admin/project/site-level role, sorted\r\naccording to the requested status (e.g. by dates for active/overdue/pending, by last update for\r\ncompleted).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackagesQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackagesQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackagesQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkingPackagesDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkingPackagesDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/LeanCardQuery/GetWorkingPackagesCount": {
      "post": {
        "tags": [
          "LeanCardQuery"
        ],
        "summary": "Retrieves the count of lean cards (working packages) for a site broken down by status (overdue, active,\r\npending, completed), restricted to the requesting user's vendor teams unless they hold an\r\nadmin/project/site-level role.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackagesCountQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackagesCountQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkingPackagesCountQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkingPackagesCountResponseDtoQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkingPackagesCountResponseDtoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/MaterialHandoverCommand/ChangeMaterialHandoverStatus": {
      "post": {
        "tags": [
          "MaterialHandoverCommand"
        ],
        "summary": "Toggles a handover's status between InProgress and Paused, appending a new handover event capturing the\r\nnote and photos for the change, and updates the parent shipment's aggregated handover status. Pausing\r\nalso queues a background job to generate thumbnails for the responsible-person photos of that event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeMaterialHandoverStatusCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeMaterialHandoverStatusCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeMaterialHandoverStatusCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringCommandResponseWithResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringCommandResponseWithResult"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/MaterialHandoverCommand/CompleteMaterialHandover": {
      "post": {
        "tags": [
          "MaterialHandoverCommand"
        ],
        "summary": "Marks a handover as Completed: appends a completion event, stores the final material/responsible-person\r\nphotos and note, computes the total time spent by summing the durations between paired handover events,\r\noptionally attaches the responsible person resolved from a QR-code scan, updates the parent shipment's\r\naggregated handover status (triggering PDF regeneration if the shipment itself is now complete), and\r\nqueues a background job to generate thumbnails for the final photos.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteMaterialHandoverCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteMaterialHandoverCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteMaterialHandoverCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/MaterialHandoverCommand/CreateMaterialHandover": {
      "post": {
        "tags": [
          "MaterialHandoverCommand"
        ],
        "summary": "Creates a new material handover for a CLM or Konshub shipment, snapshotting the shipment's bookable\r\nequipment and assigning a sequential handover number, then updates the shipment's aggregated handover\r\nstatus/counters and queues a background job to generate thumbnails for the uploaded material photos.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMaterialHandoverCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMaterialHandoverCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMaterialHandoverCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/MaterialHandoverCommand/UpdatePlannedEquipmentUsageOfHandover": {
      "post": {
        "tags": [
          "MaterialHandoverCommand"
        ],
        "summary": "Records the actual usage (unit count or number of time slots, depending on the equipment's price type)\r\nfor a single planned/bookable equipment item on a handover, recalculates that item's actual total price,\r\nand rolls the aggregated actual usage/price back up into the shipment's equipment timeline.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHandoverPlannedEqUsageCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHandoverPlannedEqUsageCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHandoverPlannedEqUsageCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/MaterialHandoverQuery/GetEquipmentsForUnplannedEquipmentCreation": {
      "post": {
        "tags": [
          "MaterialHandoverQuery"
        ],
        "summary": "Looks up the site of the given handover and returns the active bookable site equipment for that site,\r\nexcluding equipment that has already been added as unplanned equipment to that handover, for use when\r\ncreating a new unplanned equipment entry.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEquipmentsForUnplannedEquipmentCreationQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEquipmentsForUnplannedEquipmentCreationQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetEquipmentsForUnplannedEquipmentCreationQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteEquipmentForUnplannedEquipmentCreationDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteEquipmentForUnplannedEquipmentCreationDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/MaterialHandoverQuery/GetHandoverByKonshubShipmentId": {
      "post": {
        "tags": [
          "MaterialHandoverQuery"
        ],
        "summary": "Returns the details (including full event history) of the Konshub-type material handover associated\r\nwith the given shipment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHandoverByKonshubShipmentIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHandoverByKonshubShipmentIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetHandoverByKonshubShipmentIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialHandoverDetailsResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialHandoverDetailsResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/MaterialHandoverQuery/GetHandoverEquipmentUsage": {
      "post": {
        "tags": [
          "MaterialHandoverQuery"
        ],
        "summary": "Returns the unplanned equipment usage recorded for a shipment, and — only when the shipment is of type\r\nCLM — also the planned bookable equipment usage from the shipment's equipment timeline (excluding adhoc\r\nequipment).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHandoverEquipmentUsageQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHandoverEquipmentUsageQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetHandoverEquipmentUsageQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandoverEquipmentUsageResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandoverEquipmentUsageResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/MaterialHandoverQuery/GetHandoversByShipmentId": {
      "post": {
        "tags": [
          "MaterialHandoverQuery"
        ],
        "summary": "Returns all material handover records created for the given shipment, regardless of their status, as\r\nsummary DTOs.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHandoversByShipmentIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHandoversByShipmentIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetHandoversByShipmentIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialHandoverDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialHandoverDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/MaterialHandoverQuery/GetMaterialHandover": {
      "post": {
        "tags": [
          "MaterialHandoverQuery"
        ],
        "summary": "Returns the full details of a single material handover, including its complete event history and the\r\nplanned/unplanned equipment usage joined against the shipment's equipment bookings.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialHandoverQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialHandoverQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialHandoverQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialHandoverDetailsResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialHandoverDetailsResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/MaterialHandoverQuery/GetMaterialHandoverList": {
      "post": {
        "tags": [
          "MaterialHandoverQuery"
        ],
        "summary": "Returns material handover summaries for a site filtered by status. When filtering for Completed\r\nhandovers, results are additionally restricted to those last updated within the given date range.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialHandoverListQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialHandoverListQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialHandoverListQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialHandoverDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialHandoverDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/MeteomaticsQuery/GetIntervalBasedWeatherInfo": {
      "post": {
        "tags": [
          "MeteomaticsQuery"
        ],
        "summary": "Retrieves the intraday, interval-based weather breakdown stored for a specific site on a specific calendar day.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeteomaticsIntervalBasedInfoQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MeteomaticsIntervalBasedInfoQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MeteomaticsIntervalBasedInfoQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteomaticsIntervalBasedInfoDtoQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteomaticsIntervalBasedInfoDtoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/MeteomaticsQuery/GetWeatherInfoFromRange": {
      "post": {
        "tags": [
          "MeteomaticsQuery"
        ],
        "summary": "Retrieves the daily Meteomatics weather records (temperature, min/max temperature, wind speed, weather symbol) stored for a site within a date range.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeteomaticsInfoQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MeteomaticsInfoQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MeteomaticsInfoQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteomaticsInfoDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteomaticsInfoDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/RecommendationSystemQuery/GetSiteSmartFlowConfig": {
      "post": {
        "tags": [
          "RecommendationSystemQuery"
        ],
        "summary": "Determines whether a site has UpEdge smart-flow devices configured, i.e. whether the recommendation/automation flow is available for that site.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteSmartFlowConfigQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteSmartFlowConfigQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteSmartFlowConfigQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteSmartFlowConfigModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteSmartFlowConfigModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/CreateShipmentComment": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Adds a new comment to a shipment, attributed to the current user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentCommentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentCommentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentCommentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/DeleteDraftShipment": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Transitions a shipment to a new status (approved, waiting/ongoing/unloading, rejected/withdrawn, cancelled at transit, or completed), updates grouping counts, and triggers background processing (e.g. notifications) for the status change.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteDraftShipmentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteDraftShipmentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteDraftShipmentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/DeleteShipmentComment": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Deletes an existing shipment comment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShipmentCommentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShipmentCommentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShipmentCommentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/DiscardShipment": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Discards a shipment: if the shipment is still an in-progress wizard draft it is deleted entirely; if it has already been submitted, only its pending edit draft (and smart-wizard draft) is cleared, leaving the submitted shipment intact.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscardShipmentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscardShipmentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DiscardShipmentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/GenerateCockpitDailyReport": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Queues generation of the cockpit daily report PDF (scheduled shipments, equipment, and ad-hoc shipment summaries) for background processing; once generated, the requesting user is notified.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCockpitDailyReportCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCockpitDailyReportCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCockpitDailyReportCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/GenerateShipmentPDF": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Requests (and returns, if already available) the generated PDF report for a shipment in the given language; if no PDF has been generated yet, this queues background PDF generation and returns immediately without a URL.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentPdfGenerateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentPdfGenerateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentPdfGenerateCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateShipmentPdfResponseModelCommandResponseWithResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateShipmentPdfResponseModelCommandResponseWithResult"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/SaveShipmentWizardBookingDates": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Saves the booking date step of the shipment wizard: for a shipment still being created it applies the booking date, express-shipment flag, and lean card directly; for an already-submitted shipment being edited, the change is stored as a pending draft.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardBookingDateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardBookingDateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardBookingDateCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/SaveShipmentWizardMaterial": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Saves the material-selection step of the shipment wizard: for a shipment still being created this sets its materials and recipient team directly; for an already-submitted shipment being edited, the change is stored as a pending draft rather than applied immediately.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardMaterialCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardMaterialCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardMaterialCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/SaveShipmentWizardOtherInfo": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Saves the final \"other info\" step of the shipment wizard (on-site responsible person, sustainability/vehicle info, etc.), finalizing the shipment: persists the additional responsible persons and remaining shipment details, then triggers a background command to complete post-save processing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardOtherInfoCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardOtherInfoCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardOtherInfoCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DateTimeNullableCommandResponseWithResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DateTimeNullableCommandResponseWithResult"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/SaveShipmentWizardTimeslots": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Saves the timeslot step of the shipment wizard: resolves the selected zone (and its waiting area, if any), then for a shipment still being created applies the schedule window and equipment reservations directly, or for an already-submitted shipment being edited, stores the change as a pending draft.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardTimeslotsCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardTimeslotsCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardTimeslotsCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/SaveShipmentWizardUnloadings": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Saves the unloading/vehicle step of the shipment wizard: for a shipment still being created it sets the selected vehicle's name, type, ID, and key directly on the shipment; for an already-submitted shipment being edited, the change is stored as a pending draft.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardUnloadingCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardUnloadingCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SaveShipmentWizardUnloadingCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/SendOpenShipmentMail": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Queues a background job to notify the shipment's recipient that a shipment has been requested, sending the \"shipment requested\" email in every supported language once the shipment is found.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendOpenShipmentMailCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendOpenShipmentMailCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendOpenShipmentMailCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/UpdateShipmentComment": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Updates the text of an existing shipment comment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentCommentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentCommentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentCommentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/UpdateShipmentStatus": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentStatusCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentStatusCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentStatusCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/UpsertAdhocShipment": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Creates or updates an ad-hoc (walk-in, non-wizard) shipment: if a shipment with the given ID already exists it is updated, otherwise a new one is created and a background command is queued to finish processing it (e.g. thumbnail generation, notifications).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertAdhocShipmentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertAdhocShipmentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertAdhocShipmentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentCommand/UpsertSustainabilityAddress": {
      "post": {
        "tags": [
          "ShipmentCommand"
        ],
        "summary": "Creates, updates, or removes a team's saved sustainability address: marking an address as not-favourite deletes it, otherwise the address (identified by item ID) is updated if it already exists or created new for the given team.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertSustainabilityAddressCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertSustainabilityAddressCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertSustainabilityAddressCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetCockpitDateWiseChartData": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Builds the cockpit's date-wise dashboard charts for a site and date: unloading zone activity, bookable equipment utilization, non-bookable equipment utilization, and the count of approved shipments, all computed concurrently.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CockpitDateWiseChartQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CockpitDateWiseChartQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CockpitDateWiseChartQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CockpitDateWiseChartQueryDtoQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CockpitDateWiseChartQueryDtoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetCockpitWeeklyShipmentCounts": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Builds the weekly shipment count grid for a site's active unloading zones: for each zone and each day in the requested week, calculates scheduled usage against availability and the resulting under-utilization percentage, plus a combined total across all zones.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CockpitWeeklyShipmentCountQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CockpitWeeklyShipmentCountQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CockpitWeeklyShipmentCountQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CockpitWeeklyShipmentCountQueryResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CockpitWeeklyShipmentCountQueryResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetCockpitWeeklyShipmentUtilization": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Builds the weekly shipment utilization grid for a site's active unloading zones: for each zone and each day in the requested week, aggregates shipment duration against availability and calculates the resulting under-utilization percentage, plus a combined total across all zones.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CockpitWeeklyShipmentUtilizationQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CockpitWeeklyShipmentUtilizationQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CockpitWeeklyShipmentUtilizationQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CockpitWeeklyShipmentUtilizationQueryResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CockpitWeeklyShipmentUtilizationQueryResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetDataForAdhocShipment": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Loads the reference data needed to create an ad-hoc shipment for a site: the site's role-filtered materials, active (non-requested, non-deleted) vendor teams, active non-bookable site equipment, and the site's currently active unloading zones.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDataForAdhocShipmentQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDataForAdhocShipmentQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetDataForAdhocShipmentQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDataForAdhocShipmentResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDataForAdhocShipmentResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetDraftShipmentPermission": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftShipmentPermissionGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftShipmentPermissionGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DraftShipmentPermissionGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftShipmentPermissionModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftShipmentPermissionModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetEventLogs": {
      "get": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Retrieves the audit/event log history for a given item (shipment or a related connected entity), ordered chronologically.",
        "parameters": [
          {
            "name": "itemId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogQueryModelListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogQueryModelListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetMaterialStepData": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Loads the material-selection step data for the shipment wizard for a given site: the current user's favorite materials, materials filtered by the sender CLM team, the valid CLM teams for the site/project (filtered by team type and tags), and the full material-unit dictionary, all resolved concurrently.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialStepDataQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialStepDataQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialStepDataQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialStepDataModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialStepDataModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetShipmentById": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Retrieves a single shipment by its identifier.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentByIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentByIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentByIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetShipmentComments": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Retrieves all comments posted on a shipment, enriched with the display information of the commenters.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentCommentQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentCommentQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentCommentQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentCommentDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentCommentDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetShipmentCompletionPrerequisite": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Determines whether a shipment has bookable equipment that must be checked before it can be marked complete, based on its equipment timeline records in an approved or un-approved state.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentCompletionPrerequisiteQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentCompletionPrerequisiteQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentCompletionPrerequisiteQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentCompletionPrerequisiteResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentCompletionPrerequisiteResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetShipmentForExternal": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Retrieves a shipment (native CLM or KonsHub-linked) in the reduced format intended for external consumers.",
        "description": "Throws an System.ArgumentException if no shipment with the given ID exists in either source.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentForExternalQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentForExternalQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentForExternalQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentForExternalDtoQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentForExternalDtoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetShipmentGroupingDetails": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Retrieves the details of a shipment grouping (sender/recipient team, building/floor site structure, or working package), based on the requested grouping type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentGroupingDetailsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentGroupingDetailsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentGroupingDetailsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponseDynamic"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponseDynamic"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetShipmentInfoWithPdf": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Returns a paged list of a site's shipments (filtered by status and optional schedule date range) together with the sender team's display info and, if one has already been generated, the URL of the shipment's PDF report in the requested language.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentInfoWithPdfGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentInfoWithPdfGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentInfoWithPdfGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentInfoWithPdfResponseListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentInfoWithPdfResponseListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetShipmentPdfReports": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Returns a paged list of previously generated shipment PDF reports for a site.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentPdfReportsGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentPdfReportsGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentPdfReportsGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentPdfReportListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentPdfReportListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetShipmentsByGrouping": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Returns the shipments that belong to a given grouping (sender/recipient team, building/floor site structure, or working package).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentsByGroupingQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentsByGroupingQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentsByGroupingQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentForGroupingDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentForGroupingDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetShipmentsCountForListView": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Computes shipment counts for the cockpit list view broken down by status bucket (open, approved, completed, cancelled/rejected) for a site, applying the same field filters and search keys as the list view, with each bucket count computed concurrently.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentCountForListViewQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentCountForListViewQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentCountForListViewQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentsCountForListViewQueryResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentsCountForListViewQueryResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetShipmentsForCockpitWeeklyView": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Returns a filtered, ordered, paged list of shipments for the cockpit weekly view, applying the requested schedule date range, status, unloading zone, and shipment ID filters.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentsForCockpitQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentsForCockpitQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentsForCockpitQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentForWeeklyViewDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentForWeeklyViewDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmShipmentWebService/ShipmentQuery/GetShipmentsForListView": {
      "post": {
        "tags": [
          "ShipmentQuery"
        ],
        "summary": "Returns a filtered, searched, ordered, and paged list of shipments for the cockpit list view, scoped to the site, requested statuses, and the current user's specific team visibility, with additional field filters and free-text search applied.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentForListViewQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentForListViewQuery"
              }
            },
            "application/*+json": {
              "schema": {
[...]
