{
  "openapi": "3.0.1",
  "info": {
    "title": "ClmConstructionWebService",
    "description": "ClmShipmentWebService",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://msblocks.selisestage.com/"
    }
  ],
  "paths": {
    "/ClmConstructionWebService/ConstructionManagementCommand/AssignWarehouse": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Validates that the site and warehouse both exist, then links the warehouse to the site and updates its role assignments.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignWareHouseCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignWareHouseCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AssignWareHouseCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/CreateSiteCode": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Generates a unique alphanumeric site code derived from the site name (if site codes are enabled) and persists it on the project site, after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteCodeCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteCodeCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteCodeCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteCodeResponseModelCommandResponseWithResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteCodeResponseModelCommandResponseWithResult"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/CreateSiteDocument": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Creates a new site document record linked to a project site, after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteDocumentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteDocumentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteDocumentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/CreateSiteStructures": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Bulk-creates new site structure records for a site after validation, queuing a background grouping-management task for each created structure.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteStructuresCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteStructuresCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteStructuresCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/CreateWareHouse": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Creates a new warehouse for a site after validation, links it back to the site, and auto-creates its default equipment (a trolley and a forklift).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWareHouseCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWareHouseCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWareHouseCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseWithResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseWithResult"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/DeleteMaterial": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Soft-deletes a material by marking it for deletion rather than removing the record.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMaterialCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMaterialCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMaterialCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/DeleteSiteStructure": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Deletes a site structure record and queues a background task to clean up its related structure grouping.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteSiteStructureCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteSiteStructureCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteSiteStructureCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/SaveActiveInactiveClmGlobalNotification": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Deactivates any currently active CLM global notification and, if activating, saves a new one, then broadcasts the active/inactive status and message in real time, after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClmGlobalNotificationActiveInactiveCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ClmGlobalNotificationActiveInactiveCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ClmGlobalNotificationActiveInactiveCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseWithResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseWithResult"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/SaveMaterialFileData": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Creates a material document record for the upload after validation, then queues a background task to bulk create/update the actual material records from the parsed file data.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFileDataSaveCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFileDataSaveCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFileDataSaveCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/SaveMaterialHeaderMapping": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Saves the user's Excel-column-to-field header mapping for an uploaded material file, after validation, computes/validates the resulting rows against existing teams/materials, and sends a notification indicating success or failure.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialHeaderMappingSaveCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialHeaderMappingSaveCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialHeaderMappingSaveCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/SaveSiteInstructions": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Creates or updates one or more site instructions for a site after validation, matching existing entries by id.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteInstructionsSaveCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteInstructionsSaveCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SiteInstructionsSaveCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/SaveWhitelistedDomainsForSite": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Validates each submitted domain against restricted keywords/characters and persists only the accepted domains to the site's whitelist, returning the accepted and rejected domain lists.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveWhitelistedDomainsForSiteCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveWhitelistedDomainsForSiteCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SaveWhitelistedDomainsForSiteCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseWithResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseWithResult"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/SendLandingPageEmail": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Persists a landing-page contact submission (anonymous endpoint, no authorization required) after validation, then sends a templated email to the configured default wiki admin address.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendLandingPageEmailCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendLandingPageEmailCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendLandingPageEmailCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/UpdateOrganization": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Updates an organization's fields after validation, then cascades a changed organization name to all related persons and team members.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/UpdateSiteContactPerson": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Updates a site's contact person name, email, and phone fields after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteContactPersonCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteContactPersonCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteContactPersonCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/UpdateSiteNotice": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Updates a site's notice text and enabled flag after validation, then queues a background task to clean up stale user notice-dismissal settings.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteNoticeCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteNoticeCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteNoticeCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/UpdateSiteStructure": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Updates a site structure after validation and queues background tasks to reconcile the change (cascading renamed building/floor/laydown names across shipments, equipment bookings, timelines, and material handovers) and to update grouping.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteStructureCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteStructureCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteStructureCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/UpdateWareHouse": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Updates a warehouse's fields (address, contact, dates, image, etc.) after validation; if the address changed, queues a background task to update shipment PDF footers referencing it.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWareHouseCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWareHouseCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWareHouseCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/UploadMaterialFile": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Downloads and parses an uploaded material Excel file into a temporary upload record (matching column headers via translation lookups), after validation, and sends a real-time notification indicating processing success or failure.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFileUploadCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFileUploadCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFileUploadCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/UpsertKonshubSiteInstructions": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Creates or updates site instructions flagged specifically for Konshub after validation (same handler as M:Clm.Construction.WebService.Controllers.CommandControllers.ConstructionManagementCommandController.SaveSiteInstructions(ConstructionManagement.Commands.SiteInstructionsSaveCommand), routed to the Konshub instruction records).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteInstructionsSaveCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteInstructionsSaveCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SiteInstructionsSaveCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/UpsertMaterial": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Creates or updates a material after validation. On create, resolves the material unit and sets up vendor/read-write role permissions; on update, queues a background task to propagate the changed name/unit/dimensions into referencing shipments and trigger their PDF regeneration.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertMaterialCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertMaterialCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertMaterialCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/UpsertProject": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Creates or updates a construction project after validation (assigning managers/theme on create), then queues a background task for role/permission setup and, on create, another to build project teams from the assigned managers.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertProjectCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertProjectCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertProjectCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/UpsertProjectSite": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Creates or updates a project site after validation. On create, generates a site code (if enabled) and queues site-manager/planner team creation; on update, propagates name/address changes into related shipment records (triggering PDF regeneration) and sends an in-app notification. Also queues a background task for role/permission propagation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertProjectSiteCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertProjectSiteCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertProjectSiteCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementCommand/UpsertSiteStructure": {
      "post": {
        "tags": [
          "ConstructionManagementCommand"
        ],
        "summary": "Parses an uploaded Excel file into site structure/laydown data after validation, then rebuilds the site's entire structure hierarchy (replacing existing records) and stores the source file reference.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertSiteStructureCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertSiteStructureCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertSiteStructureCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/CheckKonsHubAccess": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Checks whether the current user has Konshub access based on warehouse assignment — Admins get access if any (or the specified) site has a warehouse; other users are checked via their team assignments.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckKonsHubAccessQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckKonsHubAccessQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CheckKonsHubAccessQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/DownloadMaterialSampleFile": {
      "get": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Resolves the appropriate sample material upload template (vendor vs. non-vendor, per language) from a static mapping and downloads it via the storage service.",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetActiveClmGlobalNotification": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves the currently active CLM global notification, or a default (inactive) model if none is configured.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetActiveClmGlobalNotificationQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetActiveClmGlobalNotificationQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetActiveClmGlobalNotificationQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClmGlobalNotificationModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClmGlobalNotificationModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetAllOrganizations": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves paginated organizations along with, for each, the count of assigned team members and their resolved project sites.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllOrganizationQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllOrganizationQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllOrganizationQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllOrganizationQueryResponseListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllOrganizationQueryResponseListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetExcelFileSiteStructureBySite": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Builds an Excel export of a site's structure (ordered by name, with localized column headers) and returns the generated file's download id.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExcelFileSiteStructureBySiteQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExcelFileSiteStructureBySiteQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetExcelFileSiteStructureBySiteQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExcelFileSiteStructureBySiteResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExcelFileSiteStructureBySiteResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetFileById": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves a single file by its id along with its linked thumbnail files.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFileByIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFileByIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetFileByIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponseWithThumbnailsQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponseWithThumbnailsQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetFiles": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves files by id along with their linked thumbnail files, grouped per parent file.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFilesQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFilesQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetFilesQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponseWithThumbnailsListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponseWithThumbnailsListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetKonshubSiteInstructions": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves the non-deleted Konshub-specific site instructions for a site.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonshubSiteInstructionsGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KonshubSiteInstructionsGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KonshubSiteInstructionsGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteInstructionResponseModelListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteInstructionResponseModelListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetMaterialById": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves a single material by its item id, after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialByIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialByIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialByIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialDtoQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialDtoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetMaterialFilePreviewData": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves the parsed temporary material rows for an uploaded file (faulty rows first), plus active material units and the teams the caller (vendor or otherwise) may assign materials to.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFilePreviewDataGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFilePreviewDataGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFilePreviewDataGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialFilePreviewDataResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialFilePreviewDataResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetMaterialFileProcessedHeaders": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves the processed column headers for an uploaded material file once processing has completed; for vendor uploaders it also resolves their assigned teams.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFileProcessedHeadersGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFileProcessedHeadersGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFileProcessedHeadersGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialFileProcessedHeadersResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialFileProcessedHeadersResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetMaterialList": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves a paginated, searchable list of materials for a site (searchable by name, unit, description, team, and shipment counts), with role-based filtering applied.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialListQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialListQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialListQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetMaterialUsagesById": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves a material by id and computes its shipment usage totals, grouped by status (open, approved, completed).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialUsagesByIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialUsagesByIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialUsagesByIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialUsagesResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialUsagesResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetProjectDetail": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves a project's detail, resolving its managers/planners (via team member role assignments), role-filtered project sites, and image thumbnails for the project and its managers/planners.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectDetailQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectDetailQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectDetailQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetailQueryResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetailQueryResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetProjectEditDetail": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves a project by id along with its project sites and project image thumbnail, mapped into an edit-detail model.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProjectEditDetailQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProjectEditDetailQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetProjectEditDetailQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEditQueyResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEditQueyResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetProjectSiteEditDetail": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves a project site by id along with its parent project and site image, mapped into an edit-detail model, after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectSiteEditDetailQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectSiteEditDetailQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectSiteEditDetailQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectSiteEditDetailQueryResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectSiteEditDetailQueryResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetRequestedProjectList": {
      "get": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves the projects behind the current user's pending team-join requests, excluding projects the user is already assigned to, ordered by name.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestedProjectModelListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestedProjectModelListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetSiteLocations": {
      "get": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves a site's zones as locations, optionally filtering out unloading zones that are inactive per calendar reservations against a given date, each enriched with direction way-points.",
        "parameters": [
          {
            "name": "siteId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteLocationDomainModelListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteLocationDomainModelListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetSiteOverviewAndUPReservation": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves a site's overview (image, site managers, unloading zones) together with active calendar reservations for those zones, filtering out expired ones.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteOverviewAndUPReservationQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteOverviewAndUPReservationQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SiteOverviewAndUPReservationQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteOverviewQueryResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteOverviewQueryResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetSiteStructureGroupings": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves a paginated, searchable list of site structure groupings for a site.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteStructureGroupingsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteStructureGroupingsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteStructureGroupingsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteStructureGroupingsResponseModelListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteStructureGroupingsResponseModelListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetSiteStructuresBySite": {
      "post": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves all site structure records for a site and assembles them into a hierarchical structure response (buildings/floors/laydowns).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteStructureBySiteQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteStructureBySiteQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteStructureBySiteQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteStructureResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteStructureResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetZoneById": {
      "get": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves a zone by id along with its equipment, direction way-points, and (depending on its location type) related waiting areas or unloading zones that reference it.",
        "parameters": [
          {
            "name": "zoneId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneDomainDetailModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneDomainDetailModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/ConstructionManagementQuery/GetZones": {
      "get": {
        "tags": [
          "ConstructionManagementQuery"
        ],
        "summary": "Retrieves zones belonging to a site or shared at the project level (optionally filtered to only active ones), each enriched with its direction way-points.",
        "parameters": [
          {
            "name": "siteId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneDomainModelListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneDomainModelListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/MobileManagementCommand/CreateOrUpdateVersionInformation": {
      "post": {
        "tags": [
          "MobileManagementCommand"
        ],
        "summary": "Creates or updates a mobile app version record for a given OS after validation; if marked as the latest version, unmarks any other non-deleted version for that OS as latest.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateVersionInformationCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateVersionInformationCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateVersionInformationCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/MobileManagementCommand/SetClmMobileMaintainance": {
      "post": {
        "tags": [
          "MobileManagementCommand"
        ],
        "summary": "Creates or updates the single CLM mobile maintenance record, toggling app-wide maintenance mode for the mobile app on or off.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetClmMobileMaintainanceCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SetClmMobileMaintainanceCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SetClmMobileMaintainanceCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/MobileManagementQuery/CheckUpdateType": {
      "post": {
        "tags": [
          "MobileManagementQuery"
        ],
        "summary": "Compares the client's app version against the latest mobile version for its OS and returns the required update type (none, optional, or forced) along with release notes.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckUpdateTypeQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckUpdateTypeQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CheckUpdateTypeQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInformationResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInformationResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/MobileManagementQuery/GetClmMobileMaintainance": {
      "get": {
        "tags": [
          "MobileManagementQuery"
        ],
        "summary": "Retrieves the current CLM mobile maintenance record, defaulting to maintenance-off if none has been configured yet.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClmMobileMaintainanceQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClmMobileMaintainanceQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/MobileManagementQuery/GetMobileVersions": {
      "post": {
        "tags": [
          "MobileManagementQuery"
        ],
        "summary": "Retrieves mobile app versions for a given OS type that were updated on or after a specified date.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMobileVersionsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMobileVersionsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetMobileVersionsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileVersionListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileVersionListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/Test/GetUserData": {
      "get": {
        "tags": [
          "Test"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/ClmConstructionWebService/Test/ProcessConstructionData": {
      "post": {
        "tags": [
          "Test"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConstructionDataProcessorCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ConstructionDataProcessorCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ConstructionDataProcessorCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/Test/ProcessConstructionDataInBackground": {
      "post": {
        "tags": [
          "Test"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConstructionDataProcessorCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ConstructionDataProcessorCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ConstructionDataProcessorCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/Test/TestHost": {
      "post": {
        "tags": [
          "Test"
        ],
        "summary": "TestHost api",
        "operationId": "TestHost",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/CreateWikiFile": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Creates a new wiki file attachment record after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWikiFileCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWikiFileCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWikiFileCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/DeletePage": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Deletes a wiki page and its content after validation, then recalculates whether the parent page still has children.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePageCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePageCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePageCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/DeleteWikiFaq": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Deletes a wiki FAQ after validation and renumbers the sort order of the remaining FAQs sequentially.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWikiFaqCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWikiFaqCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWikiFaqCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/DeleteWikiFile": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Deletes a wiki file attachment record after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWikiFileCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWikiFileCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWikiFileCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/DeleteWikiPageContent": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Clears a wiki page's content after validation — resets its content/draft/file-info fields to empty and marks it as having no content.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWikiPageContentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWikiPageContentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWikiPageContentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/DeleteWikiReleaseNote": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Deletes a wiki release note by its id, after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWikiReleaseNoteCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWikiReleaseNoteCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWikiReleaseNoteCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/GenerateWikiContentKeywords": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateWikiContentKeywordsCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateWikiContentKeywordsCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateWikiContentKeywordsCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseWithResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseWithResult"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/SendWikiEmail": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Persists a wiki popup/contact submission and sends a notification email to the configured default wiki admin address, after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendWikiEmailCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendWikiEmailCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendWikiEmailCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/SyncWikiContentEmbeddings": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncWikiContentEmbeddingsCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncWikiContentEmbeddingsCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SyncWikiContentEmbeddingsCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseWithResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseWithResult"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/UpdateFaqSortingOrder": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Reassigns the sort order of all wiki FAQs to match the provided ordered ID list, appending any unlisted FAQs after, following validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFaqSortingOrderCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFaqSortingOrderCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFaqSortingOrderCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/UpdatePageContent": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Updates a wiki page's content after validation: if published, writes to the live content/file-info (clearing draft data) and marks the page as having content; otherwise saves to the draft content/file-info and marks it as a draft.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePageContentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePageContentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePageContentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/UpdatePageSortingOrder": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Reassigns the sort order of a set of sibling wiki pages under a parent to match the given ordered list, after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePageSortingOrderCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePageSortingOrderCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePageSortingOrderCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/UpdateWikiFile": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Updates an existing wiki file attachment's fields after validation; if the file URL changed, queues a background task to rewrite old URL references elsewhere.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWikiFileCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWikiFileCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWikiFileCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/UpdateWikiPageParentId": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Reparents a wiki page under a new parent after validation, cascading the new parent's sites/roles/languages down to it and all its descendant pages, and updates the has-children flag on both the old and new parents.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClmWikiParentPageCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClmWikiParentPageCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClmWikiParentPageCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/UpsertPage": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Creates a new wiki page (with an empty content record, added as a child of the parent) or updates an existing page's title/roles/sites/languages/public flag, after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertPageCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertPageCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertPageCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/UpsertWikiFaq": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Creates a new wiki FAQ (appended to the end of the sort order) or updates an existing one's fields, after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWikiFaqCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWikiFaqCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWikiFaqCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiCommand/UpsertWikiReleaseNote": {
      "post": {
        "tags": [
          "WikiCommand"
        ],
        "summary": "Creates a new wiki release note or updates an existing one depending on whether its id already exists, after validation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWikiReleaseNoteCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWikiReleaseNoteCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWikiReleaseNoteCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiQuery/CheckWikiFileNameUnique": {
      "post": {
        "tags": [
          "WikiQuery"
        ],
        "summary": "Checks whether a proposed wiki file name already exists on another file (excluding the file being edited, if any).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckWikiFileNameUniqueQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckWikiFileNameUniqueQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CheckWikiFileNameUniqueQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WikiFileNameUniqueDtoQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WikiFileNameUniqueDtoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiQuery/GetAllWikiPagesWithContent": {
      "post": {
        "tags": [
          "WikiQuery"
        ],
        "summary": "Admin-only bulk export: retrieves all non-deleted wiki pages merged with their content; returns an empty list for non-Admin callers.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllWikiPagesWithContentQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllWikiPagesWithContentQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllWikiPagesWithContentQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WikiPagesWithContentDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WikiPagesWithContentDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmConstructionWebService/WikiQuery/GetPublicWikiPageContent": {
      "post": {
        "tags": [
          "WikiQuery"
        ],
[...]
