{
  "openapi": "3.0.1",
  "info": {
    "title": "ClmKonshubWebService",
    "description": "ClmKonshubWebService",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://msblocks.selisestage.com/"
    }
  ],
  "paths": {
    "/ClmKonshubWebService/KonsHubShipmentCommand/CreateMassDeliveryShipment": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Validates and creates a \"mass delivery\" child shipment split off from an unplanned\r\nparent shipment: generates a new shipment number for the child (and for the parent, if\r\nthis is its first delivery), reduces the parent's delivered unit count by the requested\r\namount, and queues a background event for downstream notification/processing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MassDeliveryCreateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MassDeliveryCreateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MassDeliveryCreateCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentCommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentCommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/CreateShipmentComment": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Adds a new comment to a shipment, stamped with the current user as author.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCommentCreateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCommentCreateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCommentCreateCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/DeleteDashboardFilter": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Removes a saved dashboard filter preset (by `FilterId`) from the current user's\r\nsettings. No-op if the user has no saved filters.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardFilterDeleteCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardFilterDeleteCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardFilterDeleteCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/DeleteShipmentComment": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Deletes a shipment comment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCommentDeleteCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCommentDeleteCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCommentDeleteCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/DownloadBulkShipmentMergedPdf": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkPdfDownloadCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkPdfDownloadCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BulkPdfDownloadCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/DownloadBulkShipmentPdfZip": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Validates then queues generation of a ZIP archive containing the PDFs of every sibling\r\nshipment (split/mass-delivery children sharing the same parent) of the given shipment.\r\nThe queue consumer reuses already-generated PDFs where available, generates missing ones,\r\nbuilds the zip, and pushes a completion notification with the zip file id and any failures.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadBulkShipmentPdfZipCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadBulkShipmentPdfZipCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadBulkShipmentPdfZipCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/DownloadDeliveriesExcelFile": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Queues an asynchronous Excel export of shipments for a Deliveries-screen tab\r\n(Incoming/Unplanned/Planned/Commissioned/Completed), scoped to the site and, for vendor\r\nusers, to their assigned teams. The queue consumer generates the workbook and pushes a\r\ncompletion notification carrying the resulting `FileId`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadDeliveriesExcelFileCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadDeliveriesExcelFileCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadDeliveriesExcelFileCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/GeneratePDF": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Fetches or generates a shipment's PDF. If a PDF already exists for the shipment/language\r\nit's returned immediately; otherwise PDF generation is queued asynchronously and only the\r\n(not-yet-ready) `PdfId` is returned so the client can poll/subscribe for completion.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentPdfGenerationCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentPdfGenerationCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentPdfGenerationCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsHubGenerateShipmentPdfResponseModelCommandResponseWithResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsHubGenerateShipmentPdfResponseModelCommandResponseWithResult"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/OnHoldPlannedShipment": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Validates (shipment must exist and currently be `Planned`) then puts a planned\r\nshipment on hold: clears its scheduled date and reverts it to `Unplanned`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlannedShipmentOnHoldCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PlannedShipmentOnHoldCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PlannedShipmentOnHoldCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/SaveDashboardFilter": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Creates or updates a dashboard filter preset on the current user's settings (bootstraps\r\nthe user's settings document if it doesn't exist yet). Matched by `FilterId`:\r\nexisting entries have their team/equipment filters updated; new ones are appended.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardFilterSaveCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardFilterSaveCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardFilterSaveCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/SendEmailForScheduleDateChange": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Notifies a shipment's responsible persons that its delivery date changed. Builds and\r\nqueues one email per supported language (purpose `KonsHubDeliveryDateUpdated`); the\r\nqueue consumer filters recipients by preferred language and active status before sending.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailForScheduleDateChangeCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailForScheduleDateChangeCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailForScheduleDateChangeCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/SendOpenShipmentMail": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Sends a \"shipment awaiting approval\" notification email for an unapproved shipment.\r\nLooks up the shipment (must currently be `UnApproved`) and queues one email per\r\nsupported language; does nothing if the shipment isn't found or isn't unapproved.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendOpenShipmentMailCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendOpenShipmentMailCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendOpenShipmentMailCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/SplitKonsHubShipment": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Splits a shipment into multiple shipments: updates the original (regenerating its\r\nshipment number if not already split) and creates the new split-off shipments (each with\r\nits own generated number). Queues background PDF-info regeneration and event logging for\r\nboth the original and the new shipments.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonshubSplitShipmentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KonshubSplitShipmentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KonshubSplitShipmentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentCommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentCommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/UpdateKonsHubShipment": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Queues the central \"shipment event processed\" pipeline for a shipment: refreshes\r\npermissions, logs the event, regenerates the barcode, and triggers follow-up side\r\neffects based on `EventType` — arrival events queue PDF+arrival email, delivered\r\nevents clear cached PDFs and queue PDF+completion email, schedule/update events on\r\ntoday-or-later shipments re-queue PDF regeneration, and planned-update events with no\r\nschedule date revert the shipment to `Unplanned`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKonsHubShipmentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKonsHubShipmentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKonsHubShipmentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/UpdateKonsHubShipmentCommissionReady": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Overwrites the text of an existing shipment comment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKonsHubShipmentCommissionReadyCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKonsHubShipmentCommissionReadyCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKonsHubShipmentCommissionReadyCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/UpdateShipmentComment": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCommentUpdateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCommentUpdateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCommentUpdateCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentCommand/UpdateShipmentStatusFromDeliveries": {
      "post": {
        "tags": [
          "KonsHubShipmentCommand"
        ],
        "summary": "Validates then transitions a shipment's status from the Deliveries screen to\r\n`Completed`, `Unplanned`, or `Arrived`, each with its own side effects:\r\n`Completed` marks it done (with a \"not arrived\" flag if applicable) and queues a\r\ncompletion notification; `Unplanned` reverts it to unplanned, records returned\r\nunits, and cancels any commissioning; `Arrived` records arrival details (photos,\r\ndelivery slips, storage zone/row/pitch, stacking) and moves it to Planned/Unplanned. All\r\nbranches log an event and re-queue PDF/email regeneration as needed.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentStatusFromDeliveriesCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentStatusFromDeliveriesCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentStatusFromDeliveriesCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/DownloadIncommingShipmentExcelFile": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Generates an Excel export of the filtered incoming shipment list, using the same\r\nfiltering as M:Clm.Konshub.WebService.Controllers.KonsHubShipmentQueryController.GetDashboardIncommingShipmentList(Queries.DashboardIncommingShipmentListQuery) plus an optional explicit\r\nrestriction to specific unloading zones/shipments.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardIncommingShipmentExcelQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardIncommingShipmentExcelQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardIncommingShipmentExcelQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardShipmentsDownloadResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardShipmentsDownloadResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/DownloadOutgoingShipmentExcelFile": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Generates an Excel export of the filtered outgoing shipment list, using the same\r\nfiltering/sorting as M:Clm.Konshub.WebService.Controllers.KonsHubShipmentQueryController.GetDashboardOutgoingShipmentList(Queries.DashboardOutgoingShipmentListQuery) plus an optional\r\nexplicit restriction to specific unloading zones/shipments.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardOutgoingShipmentExcelQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardOutgoingShipmentExcelQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardOutgoingShipmentExcelQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardShipmentsDownloadResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardShipmentsDownloadResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetCurrentSequenceValue": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Looks up the current numeric value of a named sequence counter (used elsewhere, e.g.,\r\nto determine how many split/mass-delivery shipments exist for a parent shipment via the\r\nconventional key `konshub-shipment-{ShipmentId}`).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCurrentSequenceQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCurrentSequenceQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCurrentSequenceQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Int32QueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Int32QueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetDashboardFilter": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Builds the data needed to populate the shipment dashboard's filter panel: sender/recipient\r\nteam options for the site, unloading equipment options for the site's warehouse, and the\r\ncurrent user's previously saved dashboard filter presets.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardFilterQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardFilterQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardFilterQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardFilterResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardFilterResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetDashboardIncommingShipmentCountByUp": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Computes incoming shipment counts \"by UP\" (unloading point/zone): for zones with an\r\nactive calendar reservation covering the date range, the daily count of shipments in\r\nopen/approved statuses assigned to each zone, plus calendar-derived availability, and a\r\ncombined total (permission-aware based on the caller's team membership).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardIncommingShipmentCountQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardIncommingShipmentCountQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardIncommingShipmentCountQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardShipmentCountResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardShipmentCountResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetDashboardIncommingShipmentExpandedList": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Given a parent incoming shipment, returns its related child shipments — either regular\r\nsplit children (same `ShipmentId`, `ParentShipmentId` set) or mass-delivery\r\nchildren — ordered by shipment number and labeled with the split-shipment sequence count.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardIncommingShipmentExpandedListQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardIncommingShipmentExpandedListQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardIncommingShipmentExpandedListQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardIncommingShipmentExpandedListResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardIncommingShipmentExpandedListResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetDashboardIncommingShipmentList": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Returns a paged, filtered, sorted list of incoming shipments for the dashboard,\r\nrestricted to the site's unloading zones. Each row includes its split-shipment count.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardIncommingShipmentListQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardIncommingShipmentListQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardIncommingShipmentListQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardIncommingShipmentListResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardIncommingShipmentListResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetDashboardOutgoingShipmentCountByUp": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Computes outgoing shipment counts \"by UP\" (unloading point/zone): for zones with an\r\nactive calendar reservation covering the date range, the daily count of Incoming/Planned\r\nshipments assigned to each zone, plus calendar-derived availability, and a combined total.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardOutgoingShipmentCountQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardOutgoingShipmentCountQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardOutgoingShipmentCountQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardOutgoingShipmentCountResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardOutgoingShipmentCountResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetDashboardOutgoingShipmentExpandedList": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Given a parent outgoing shipment, returns its related sibling shipments — mass-delivery\r\nchildren or split children sharing the same `ShipmentId` — ordered by shipment\r\nnumber and labeled with the split-shipment sequence count.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardOutgoingShipmentExpandedListQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardOutgoingShipmentExpandedListQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardOutgoingShipmentExpandedListQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardOutgoingShipmentExpandedListResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardOutgoingShipmentExpandedListResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetDashboardOutgoingShipmentList": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Returns a paged, filtered list of outgoing shipments for the dashboard, sorted by\r\nscheduled/set/ship date. Each row includes its split-shipment count.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardOutgoingShipmentListQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardOutgoingShipmentListQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardOutgoingShipmentListQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardOutgoingShipmentListResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardOutgoingShipmentListResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetDashBoardShipmentsExcelFileForNextSevenDays": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Excel-export variant of M:Clm.Konshub.WebService.Controllers.KonsHubShipmentQueryController.GetDashBoardShipmentsForNextSevenDays(Queries.DashBoardShipmentsForNextSevenDaysQuery): fetches the\r\nsame next-7-workdays (or single-date) shipment set and generates a workbook with\r\nlocalized headers.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashBoardShipmentsExcelFileForNextSevenDaysQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashBoardShipmentsExcelFileForNextSevenDaysQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashBoardShipmentsExcelFileForNextSevenDaysQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardShipmentsDownloadResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardShipmentsDownloadResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetDashBoardShipmentsForNextSevenDays": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Returns shipments scheduled within the next 7 working days (Mon-Fri, weekends skipped)\r\nfor a site, or for a single selected day if `SelectedDate` is given instead of the\r\nrolling window.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashBoardShipmentsForNextSevenDaysQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DashBoardShipmentsForNextSevenDaysQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DashBoardShipmentsForNextSevenDaysQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashBoardShipmentsDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashBoardShipmentsDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetDeliveriesTabShipmentCount": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Computes shipment counts for each tab of the Deliveries screen (Incoming, Unplanned,\r\nPlanned, Commissioned, Completed) plus a grand total, scoped to shipments the current\r\nuser is permitted to see (role/team-assignment based visibility).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDeliveriesTabShipmentCountQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDeliveriesTabShipmentCountQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetDeliveriesTabShipmentCountQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDeliveriesTabShipmentCountResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDeliveriesTabShipmentCountResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetDeliveriesTabShipmentList": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Returns the paged, sorted list of shipments for one specific tab of the Deliveries\r\nscreen, applying the same permission-scoped base filters as\r\nM:Clm.Konshub.WebService.Controllers.KonsHubShipmentQueryController.GetDeliveriesTabShipmentCount(Queries.GetDeliveriesTabShipmentCountQuery) plus the tab's specific status/date predicate\r\n(e.g. Commissioned requires a commissioned status and not completed; Planned requires\r\n`Status == Planned` and excludes commissioned/cancelled shipments).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDeliveriesTabShipmentListQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDeliveriesTabShipmentListQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetDeliveriesTabShipmentListQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsHubShipmentListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsHubShipmentListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetDonutChartData": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Validates (sanity-checks `SelectedDate`) then aggregates shipment unit counts by\r\nbuilding for the dashboard's donut/pie chart, over the same date window used by\r\nM:Clm.Konshub.WebService.Controllers.KonsHubShipmentQueryController.GetDashBoardShipmentsForNextSevenDays(Queries.DashBoardShipmentsForNextSevenDaysQuery) (single selected date or next 7 working days).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DonutChartQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DonutChartQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DonutChartQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DonutChartQueryDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DonutChartQueryDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetLogs": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Retrieves the audit/event-log history for a KonsHub shipment (the controller forces\r\n`EntityName` to `KonsHubShipment` regardless of client input), enriched with\r\nthe name of the user who created each log entry.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonshubEventLogsByEventIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KonshubEventLogsByEventIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KonshubEventLogsByEventIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetMassDeliveryScheduleData": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Validates the target shipment (must exist, be `Unplanned`, and not already be a\r\nmass-delivery shipment) then computes mass-delivery scheduling numbers for it: total\r\noriginal units across the parent and its mass-delivery children, delivered vs. planned\r\nunits, remaining units, and the next available split-sequence label (A, B, ... Z, AA...).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MassDeliveryScheduleQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MassDeliveryScheduleQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MassDeliveryScheduleQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MassDeliveryScheduleQueryResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MassDeliveryScheduleQueryResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetMaterialHandover": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Fetches a shipment's material handover record (validated up front — fails if no matching\r\nhandover record exists for the shipment/type). Resolves up to 3 material photo URLs for\r\nhandover events in the Paused/Completed state.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialHandoverQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialHandoverQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetMaterialHandoverQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialHandoverResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialHandoverResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetShipmentComments": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Fetches all comments on a shipment, each enriched with the creator's profile info.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCommentQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCommentQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KonsHubShipmentCommentQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsHubShipmentCommentDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsHubShipmentCommentDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetShipmentDetailsForMobile": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentDetailsForMobileQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentDetailsForMobileQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentDetailsForMobileQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentDetailsForMobileQueryResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentDetailsForMobileQueryResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetSiteResponsiblePersons": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Builds the list of people responsible for a site by combining CLM team members\r\n(vendor/SM/SP/PM teams tied to the site or its project) with manually added\r\nsite-level responsible-person records.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteResponsiblePersonGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteResponsiblePersonGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SiteResponsiblePersonGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponsiblePersonDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponsiblePersonDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetSiteSelectorData": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Returns the KonsHub-enabled sites the current user may access, for a site-picker UI.\r\nAdmins get all active sites with a configured warehouse; other users only get sites tied\r\nto their team assignments.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonshubSiteSelectorQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KonshubSiteSelectorQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KonshubSiteSelectorQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteSelectorDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteSelectorDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/GetWeatherInfoFromRange": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Reads previously stored weather forecast/history records for a site over a date range\r\n(no live external API call — data is pre-ingested into the `MeteomaticsInfo` collection).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeteomaticsInfoQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MeteomaticsInfoQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MeteomaticsInfoQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteomaticsInfoDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteomaticsInfoDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubShipmentQuery/SearchDeliveriesShipment": {
      "post": {
        "tags": [
          "KonsHubShipmentQuery"
        ],
        "summary": "Free-text search over a site's deliveries spanning EVERY tab in a single call —\r\nbuilt for clients (the mobile app) that only know a shipment number or team name and\r\nnot which tab the shipment currently sits in. Applies the same permission-scoped base\r\nfilters as M:Clm.Konshub.WebService.Controllers.KonsHubShipmentQueryController.GetDeliveriesTabShipmentList(Queries.GetDeliveriesTabShipmentListQuery) but no tab predicate; instead\r\neach result row carries the tab it resolves to, so the caller can go straight to that\r\ntab afterwards rather than probing all five.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDeliveriesShipmentQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDeliveriesShipmentQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDeliveriesShipmentQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliverySearchResultDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliverySearchResultDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/KonsHubTeamQuery/GetVendorTeams": {
      "post": {
        "tags": [
          "KonsHubTeamQuery"
        ],
        "summary": "Looks up vendor teams (`TeamType.Vendor_Team`) assigned to a site. Only valid,\r\nnon-deleted teams are returned, and \"requested\" (not yet accepted) teams are excluded\r\nunless explicitly requested. Results are sorted alphabetically by name.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VendorTeamsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VendorTeamsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VendorTeamsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorTeamsDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorTeamsDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ListViewCommand/DeleteListViewFilter": {
      "post": {
        "tags": [
          "ListViewCommand"
        ],
        "summary": "Removes a previously saved list-view filter preset from the current user's settings by\r\n`FilterId`. A no-op (no error) if the user has no saved filters.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListViewFilterDeleteCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ListViewFilterDeleteCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ListViewFilterDeleteCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ListViewCommand/DownloadListViewExcelReport": {
      "post": {
        "tags": [
          "ListViewCommand"
        ],
        "summary": "Queues an asynchronous export of the filtered shipment list-view to Excel. The queue\r\nconsumer re-runs the same shipment filtering used by the list-view grid, adds computed\r\nsplit-shipment counts and translated unit names, generates the workbook, and pushes a\r\nreal-time notification (tagged `ListViewExcelReportGenerated`) carrying the\r\nresulting `FileId` once the file is ready for download.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListViewExcelReportDownloadCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ListViewExcelReportDownloadCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ListViewExcelReportDownloadCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ListViewCommand/SaveListViewFilter": {
      "post": {
        "tags": [
          "ListViewCommand"
        ],
        "summary": "Creates or updates a named, reusable list-view filter preset on the current user's\r\nsettings document (per-user, not global/shared). If the user has no settings yet, one\r\nis bootstrapped first; the filter is matched by `FilterId` and either appended or\r\nupdated in place.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListViewFilterSaveCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ListViewFilterSaveCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ListViewFilterSaveCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ListViewQuery/GetListViewFilter": {
      "post": {
        "tags": [
          "ListViewQuery"
        ],
        "summary": "Builds the data needed to populate the list-view's filter UI for a site: the current\r\nuser's previously saved filter presets, the site's eligible sender/recipient teams\r\n(filtered by the requested team types), and the site warehouse's available unloading\r\nequipment (including a \"self-unloading\" pseudo-equipment option read from platform config).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListViewFilterQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ListViewFilterQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ListViewFilterQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListViewFilterResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListViewFilterResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ListViewQuery/GetShipmentForIncommingListViewForMobile": {
      "post": {
        "tags": [
          "ListViewQuery"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentForIncommingListViewForMobileQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentForIncommingListViewForMobileQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentForIncommingListViewForMobileQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentForIncommingListViewForMobileQueryResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentForIncommingListViewForMobileQueryResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ListViewQuery/GetShipmentsCountForListView": {
      "post": {
        "tags": [
          "ListViewQuery"
        ],
        "summary": "Returns shipment counts for the list-view's Open/Approved/Completed tabs for a site.\r\nIf the caller is a vendor-role team member (not an admin), results are further scoped\r\nto shipments sent by that member's own team(s).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentCountForListViewQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentCountForListViewQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentCountForListViewQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentsCountForListViewQueryResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentsCountForListViewQueryResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ListViewQuery/GetShipmentsForListView": {
      "post": {
        "tags": [
          "ListViewQuery"
        ],
        "summary": "Returns a sorted, paged page of shipments for the list-view grid, applying the same\r\npermission-scoped filters as M:Clm.Konshub.WebService.Controllers.ListView.ListViewQueryController.GetShipmentsCountForListView(Queries.GetShipmentCountForListViewQuery) plus status\r\nfiltering, sorting, and paging. Each row includes a computed split-shipment count.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentForListViewQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentForListViewQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentForListViewQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListViewShipmentListResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListViewShipmentListResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardCommand/DiscardKonsHubShipment": {
      "post": {
        "tags": [
          "ShipmentWizardCommand"
        ],
        "summary": "Discards a shipment being worked on in the wizard. If it's still an unsaved draft\r\n(tagged `IsValidDraftedKonsHubShipment`), the shipment document is deleted outright.\r\nIf it's an already-created shipment with an in-progress edit, only the staged\r\n`DraftedShipment` changes are cleared — the underlying shipment is preserved.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDiscardCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDiscardCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDiscardCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardCommand/SaveShipmentWizardBookingDates": {
      "post": {
        "tags": [
          "ShipmentWizardCommand"
        ],
        "summary": "Step 1 of the wizard. Creates a new drafted shipment if `KonsHubShipmentId` doesn't\r\nexist yet (tagged `IsValidDraftedKonsHubShipment`, `ApprovalStatus = UnApproved`);\r\notherwise sets the booking date/weather directly on the shipment (create flow) or stages\r\nit into `DraftedShipment.BookingDate` (edit flow).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardBookingDateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardBookingDateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardBookingDateCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardCommand/SaveShipmentWizardMaterials": {
      "post": {
        "tags": [
          "ShipmentWizardCommand"
        ],
        "summary": "Step 2 of the wizard. Sets material/building/location details either directly on the\r\nlive shipment (create flow) or staged into `DraftedShipment.Material` (edit flow).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardMaterialCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardMaterialCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardMaterialCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardCommand/SaveShipmentWizardOtherInfo": {
      "post": {
        "tags": [
          "ShipmentWizardCommand"
        ],
        "summary": "Final step 5 of the wizard — finalizes the shipment. Create flow: attempts to create the\r\ncalendar reservation for the chosen zone/time window (fails with\r\n`RESERVATION_SLOT_UNAVAILABLE` if unavailable, or `ERROR_STEP_4_NOT_SAVED` if\r\nstep 4 wasn't completed), retags the shipment `IsValidKonsHubShipment`, generates\r\nits shipment number, computes express/sustainability info, saves, and queues a background\r\nshipment-create event. Edit flow: merges the `OtherInfo` draft plus all other staged\r\n`DraftedShipment` sections onto the live shipment, clears the draft, saves, and\r\nqueues a background shipment-update event (carrying old/new state for diffing).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardOtherInfoCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardOtherInfoCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardOtherInfoCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardCommand/SaveShipmentWizardTimeslots": {
      "post": {
        "tags": [
          "ShipmentWizardCommand"
        ],
        "summary": "Step 4 of the wizard. Sets the chosen unloading zone, scheduled time window, slots, and\r\nequipment directly on the shipment (create flow) or stages them into\r\n`DraftedShipment.Timeslots` and cascades the booking date into other already-staged\r\ndraft sections for date consistency (edit flow). Note: the actual calendar reservation is\r\nonly created later, in M:Clm.Konshub.WebService.Controllers.ShipmentWizard.ShipmentWizardCommandController.SaveShipmentWizardOtherInfo(Commands.ShipmentWizardOtherInfoCommand).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardTimeslotsCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardTimeslotsCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardTimeslotsCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardCommand/SaveShipmentWizardUnloading": {
      "post": {
        "tags": [
          "ShipmentWizardCommand"
        ],
        "summary": "Step 3 of the wizard. Builds a `Vehicle` entity from the selected unloading vehicle\r\nand sets it directly on the shipment (create flow) or stages it into\r\n`DraftedShipment.UnloadingEquipment` (edit flow).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardUnloadingCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardUnloadingCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardUnloadingCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardCommand/UpdateOnSiteResponsiblePerson": {
      "post": {
        "tags": [
          "ShipmentWizardCommand"
        ],
        "summary": "Replaces the shipment's \"on-site responsible person\" entry, syncs the new person onto\r\nthe site/team as an additional responsible person via a background command, and — if the\r\nshipment date is today or later — clears cached PDFs and re-queues PDF+email regeneration\r\nso the shipment document reflects the new contact.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOnSiteResponsiblePersonCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOnSiteResponsiblePersonCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOnSiteResponsiblePersonCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardCommand/UpdateShipmentStatus": {
      "post": {
        "tags": [
          "ShipmentWizardCommand"
        ],
        "summary": "Changes a shipment's approval/lifecycle status: `Approve` (bulk-approves all\r\nsibling shipments sharing the same `ShipmentId`, queues PDF+email, logs the event),\r\n`Reject` (marks completed with a discard comment, cancels commissioning, deletes the\r\ncalendar reservation, queues PDF+email), or `Cancel` (marks Withdrawn/Canceled\r\ndepending on prior state, same discard side effects as reject). Role-based authorization\r\napplies per target status (e.g. rejecting an unapproved shipment requires a comment;\r\ncancelling one requires the caller belong to the sender-team vendor role).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentStatusCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentStatusCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentStatusCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardQuery/GetRecommendedSlots": {
      "post": {
        "tags": [
          "ShipmentWizardQuery"
        ],
        "summary": "Computes recommended delivery time-slot windows around a chosen unloading zone/date, for\r\nthe timeslot picker's suggestions. Considers the nearest available weekday before, the\r\nselected day (if valid for the zone), and the nearest available weekday after; for each,\r\nslides a window of consecutive slots sized to `BookingDuration` that doesn't overlap\r\nany of the shipment's own existing bookings in that zone.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UPSlotRecommendationQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UPSlotRecommendationQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UPSlotRecommendationQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UPSlotRecommendationResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UPSlotRecommendationResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardQuery/GetShipmentWizardBookingDates": {
      "post": {
        "tags": [
          "ShipmentWizardQuery"
        ],
        "summary": "Step 1 data: bookable calendar dates for a warehouse/month. A date is bookable if it has\r\nat least one `KonsHubBookingPrerequisite` zone entry, isn't in the past, and falls\r\nwithin the site's active date range.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardBookingDatesQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardBookingDatesQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardBookingDatesQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentWizardBookingDatesResponseModelShipmentWizardResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentWizardBookingDatesResponseModelShipmentWizardResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardQuery/GetShipmentWizardMaterials": {
      "post": {
        "tags": [
          "ShipmentWizardQuery"
        ],
        "summary": "Step 2 data: everything needed for the material picker, gathered in parallel — the\r\nsending team's materials (flagged with the current user's per-site favourites), eligible\r\nteams for the site, the site's building/floor structure, and the global material-unit dictionary.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardMaterialsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardMaterialsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardMaterialsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentWizardMaterialsResponseModelShipmentWizardResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentWizardMaterialsResponseModelShipmentWizardResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardQuery/GetShipmentWizardTimeslotChangedDate": {
      "post": {
        "tags": [
          "ShipmentWizardQuery"
        ],
        "summary": "Resolves the nearest bookable date when the user navigates to the next/previous/current\r\navailable booking date. Looks at booking prerequisites within a ±10-day window around\r\n`BookingDate` and finds the nearest matching date, also flagging whether a further\r\nnext/previous date exists.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardChangedDateGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardChangedDateGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardChangedDateGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentWizardChangedDateResponseModelShipmentWizardResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentWizardChangedDateResponseModelShipmentWizardResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardQuery/GetShipmentWizardTimeslots": {
      "post": {
        "tags": [
          "ShipmentWizardQuery"
        ],
        "summary": "Step 4 data: available unloading zones and equipment for a warehouse/date. Finds the\r\nzones referenced by that day's booking prerequisites, computes each zone's slot length\r\nfrom its live calendar reservation, and lists active unloading equipment (plus a\r\n\"self-unloading\" option if configured).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardTimeslotsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardTimeslotsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardTimeslotsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentWizardTimeslotsResponseModelShipmentWizardResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentWizardTimeslotsResponseModelShipmentWizardResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/ShipmentWizardQuery/GetShipmentWizardUnloadings": {
      "post": {
        "tags": [
          "ShipmentWizardQuery"
        ],
        "summary": "Step 3 data: unloading vehicle options. Only returns data if the warehouse/date has a\r\nbooking prerequisite. Loads a fixed vehicle catalogue, the site's uploaded warehouse\r\nreference files, and an optional \"self vehicle\" option (appended last, if configured).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardUnloadingQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardUnloadingQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentWizardUnloadingQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentWizardUnloadingResponseModelShipmentWizardResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentWizardUnloadingResponseModelShipmentWizardResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/StorageCommissionCommand/CreateKonsHubCommission": {
      "post": {
        "tags": [
          "StorageCommissionCommand"
        ],
        "summary": "Groups a set of stored shipments onto a single commission transport vehicle. Builds a\r\nnew pending `KonsHubCommission` summing pitches across the shipments and\r\nauto-generating a comment listing each shipment/unit.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKonsHubCommissionCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKonsHubCommissionCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKonsHubCommissionCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentCommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentCommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/StorageCommissionCommand/CreateStorageZone": {
      "post": {
        "tags": [
          "StorageCommissionCommand"
        ],
        "summary": "Bulk-creates one or more new storage zones, auto-generating lettered rows (A, B, C…)\r\nand numbered pitches (1, 2, 3…) to match each zone's requested dimensions.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStorageZoneCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStorageZoneCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStorageZoneCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmKonshubWebService/StorageCommissionCommand/GenerateOccupiedShipmentExcel": {
      "post": {
        "tags": [
          "StorageCommissionCommand"
[...]
