{
  "openapi": "3.0.1",
  "info": {
    "title": "ClmTeamWebService",
    "description": "Clm team Service Api",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://msblocks.selisestage.com/"
    }
  ],
  "paths": {
    "/ClmTeamWebService/ClmTeamCommand/AddUsersToTeams": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Bulk-invites a set of users, with specific roles, to teams/site/project — either synchronously or via background processing.",
        "description": "Blocks duplicate emails, missing roles, invalid project/site/team, and users who already have a pending\r\ninvitation or a conflicting assignment. Marks previously-requested teams as no longer requested, then\r\nqueues (or runs, if IsBackgroundTask) processing that sends invitation emails, assigns roles, and rejects\r\nthe invitee's other pending requests.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsersAddToTeamsCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UsersAddToTeamsCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UsersAddToTeamsCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/ApprovePendingRequest": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Approves a pending team-join request, assigning the requester as VendorAdmin/VendorUser (or upgrading an existing VendorUser to VendorAdmin) and finalizing their team setup.",
        "description": "Computes and applies the requester's new roles, marks the request Approved, and clears/deletes the\r\nteam's requested-team placeholder if no longer needed. Enqueues background work to finalize the team\r\nmember record and (conditionally) default lean card and requested-materials creation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovePendingRequestCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovePendingRequestCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovePendingRequestCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/ChangeActiveStatus": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Activates or deactivates a user account by re-submitting their existing profile data to UAM with the new active flag.",
        "description": "Thin wrapper: loads the current User entity, preserves all other fields, and routes through the same update flow as UpdateUser (so it also updates Person/ClmTeamMember).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeActiveStatusCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeActiveStatusCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeActiveStatusCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/ChangeRoleForTeamMember": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Changes a team member's assigned role on a specific team/site (e.g. promote/demote), updates their permissions, and forces a logout with a role-change notification.",
        "description": "Only certain target roles are allowed (site manager/planner/construction-manager-mobile/vendor roles); switching directly between a site role and a vendor role in either direction is disallowed.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRoleForTeamMemberCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRoleForTeamMemberCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRoleForTeamMemberCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/CreateAdminUser": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Creates a new platform Admin user with a default password, completes their profile, and provisions a ClmTeamMember record with admin-level email permissions.",
        "description": "Validation requires the email not already be taken (checked via UAM); throws if UAM user creation fails. The new Person is set inactive pending activation; organization is resolved from the email's domain.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUserCreateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUserCreateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUserCreateCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/CreateContactPersonJoinRequest": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Submits a team join request on behalf of a contact person (by email) to a site/team, for a Site Manager/Planner or Vendor Admin.",
        "description": "Validation requires the email to already exist as a user, the caller to have a Person record, the target\r\nemail to hold SiteManager/SitePlanner/VendorAdmin, and SiteId/ClmTeamId to be valid. Saves a pending\r\nClmTeamRequest and triggers the join-request-created notification/email flow.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactPersonJoinRequestCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactPersonJoinRequestCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactPersonJoinRequestCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/CreateTeamRequest": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Lets the current registered user request to join a vendor team on a given site.",
        "description": "Rejected if the site/vendor team don't exist, the user already has an assignment/role at that\r\nproject/site/team, or already has a pending request for that team. Saves a pending ClmTeamRequest and\r\ntriggers the join-request-created notification/email flow.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJoinRequestCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJoinRequestCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJoinRequestCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/CreateTeamsFromLeanUpload": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Bulk-creates CLM teams for a site from a \"lean\" upload/import, skipping teams that already exist.",
        "description": "Only creates teams whose id doesn't already correspond to an existing, non-deleted team; existing ones are silently skipped (not updated). On any new team, saves them all and enqueues background team setup and requested-materials creation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeamsFromLeanUploadCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeamsFromLeanUploadCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeamsFromLeanUploadCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/DeleteInvitation": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Deletes all pending (non-passed) invitations for an email address, and — if the invited user's account is still incomplete — removes that user and all related team/role records entirely.",
        "description": "Requires an existing invitation for the email that hasn't already passed. Hard-deletes User, Person, ClmTemporaryUserRole and ClmTeamMember for still-incomplete users; the invited user is removed from its ClmUserInvitation (deleting the invitation entirely if it becomes empty).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationDeleteCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationDeleteCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationDeleteCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/DeletePendingRequest": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Cancels a pending team-join request (if by the requester) or rejects it (if by an admin/reviewer), cleaning up any now-orphaned requested team.",
        "description": "The request must currently be Pending. On rejection by someone other than the requester, both parties are emailed the rejection in their preferred languages; a reject comment is then required.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePendingRequestCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePendingRequestCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePendingRequestCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/GdprApprovalForUser": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Records or revokes a self-registered user's GDPR/terms-and-conditions consent.",
        "description": "No-op unless the token's user is both self-registered and incomplete. Approving grants consent, marks the\r\nperson's profile complete, and clears role-based access restrictions. Declining hard-deletes the User,\r\nPerson, UserRoleMap, and UserTermAndConditionGrant records entirely.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GdprApprovalForUserCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GdprApprovalForUserCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GdprApprovalForUserCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/Logout": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Logs out all active sessions belonging to the user identified by the given refresh token.",
        "description": "The refresh token must correspond to an existing, currently active session. Removes all of that user's active sessions (paged, 500 at a time) from the key store and marks them inactive, then sends a logout notification to the user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/LogoutAllUsers": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Admin-only bulk logout: force-invalidates active sessions across the platform, optionally filtered to mobile-only/web-only devices and/or limited to sessions from the last two months.",
        "description": "Requires the caller to hold the Admin role. Processes sessions in pages of 500: removes refresh tokens from the key store, marks sessions inactive, and pushes a logout notification per batch. Device type is inferred from the session's device-information string.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutAllUsersCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutAllUsersCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutAllUsersCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/MarkAllNotificationAsRead": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Marks the current user's unread offline notifications as read, optionally scoped to specific notification response keys.",
        "description": "Operates only on notifications addressed to the current user that don't already have the user in their read-by list.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkAllNotificationAsReadCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkAllNotificationAsReadCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MarkAllNotificationAsReadCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/ProcessAndSendJoinRequestEmail": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Endpoint for sending join request email with site code\r\nThis endpoint is used for external clients only",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionRelatedToSelfRequestEmailCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionRelatedToSelfRequestEmailCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ActionRelatedToSelfRequestEmailCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/ProfileComplete": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Completes a new/incomplete user's profile on first login: pushes the profile to UAM, applies pending temporary role assignments, and clears previously-failed invitations for their email.",
        "description": "After the UAM update, refreshes cached dynamic roles and Person/ClmTeamMember data from any pending temporary role, and marks the user's previously-failed invitations as Ignored.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCompleteCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCompleteCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCompleteCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/ResendActivationEmail": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Re-triggers the account activation email for an existing, not-yet-active user.",
        "description": "Requires a matching user that is currently inactive. Delegates to the security service's activation-email resend (forced), and bumps the user's last-update timestamp on success.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendActivationEmailCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendActivationEmailCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResendActivationEmailCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/ResendInvitation": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Resends a failed (non-passed) invitation by deleting the old invitation record and creating and queuing a brand-new one for the same user/role.",
        "description": "Invitation must exist and not already be Passed. Internally deletes the old invitation, saves a new ClmUserInvitation/ClmInvitedUser, and enqueues background processing to reprocess it.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationResendCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationResendCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationResendCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/SelfUserRegistration": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Public self-registration endpoint: creates a new incomplete user account from the submitted profile.",
        "description": "Validation confirms the email isn't already taken (via UAM). On success, creates the UAM user, sets the\r\nperson's country and marks the profile partially complete, and auto-grants GDPR term acceptance.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfRegistrationCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfRegistrationCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SelfRegistrationCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/SendInvitationEmailToUsers": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Sends (or re-sends) a team/site-invitation email to a batch of email addresses for a given site.",
        "description": "Filters out Admin-user emails and users already assigned at that site/project level. Builds separate email content for already-assigned members vs. brand-new invitees, then sends via the mail service.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendInvitationEmailToUsersCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendInvitationEmailToUsersCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendInvitationEmailToUsersCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/SendInvitationToProjectUsers": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Invites a batch of users to a project-level role (Project Manager or Project Planner) by locating the corresponding PM/PP team for the project.",
        "description": "No-op if no matching PM_Team/PP_Team exists for the project, or if InvitedAs isn't ProjectManager/ProjectPlanner. Internally routes through the same invitation flow as AddUsersToTeams.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendInvitationToProjectUsersCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendInvitationToProjectUsersCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendInvitationToProjectUsersCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/UnassignTeamMember": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Removes a specific role assignment from a team member, recalculates their remaining roles/domains, and forces the affected user to log out with a notification.",
        "description": "No-op if the assignment isn't found. Records the removal in unassignment history, updates roles on the User (or temporary role if profile incomplete), updates team/site domain associations, then force-logs-out the user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnassignTeamMemberCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UnassignTeamMemberCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UnassignTeamMemberCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/UpdateAdminUser": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Updates an existing Admin user's profile in UAM and mirrors the changes to their Person and ClmTeamMember records.",
        "description": "UserId must already exist, else throws. On success, re-resolves organization from the email domain and updates Person/ClmTeamMember accordingly.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUserUpdateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUserUpdateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUserUpdateCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/UpdateEmailPermissions": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Updates a team member's email notification permissions, at global (Admin), site, or project level depending on their assignment scope.",
        "description": "Requires the target user and their ClmTeamMember record to exist, and the site to exist. Admins have their entire permission set replaced; others get whichever site- or project-level assignment matches updated.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmailPermissionCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmailPermissionCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmailPermissionCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/UpdateLastLoginInfo": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Refreshes the current user's ClmTeamMember record with their latest login timestamp and active status.",
        "description": "No-op if the user or their ClmTeamMember record can't be found. Used to keep team-member listings' \"last seen\" info current.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LastLoginUpdateCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LastLoginUpdateCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LastLoginUpdateCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/UpdatePersonProfile": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Lets the currently logged-in user update their own profile details (name, phone, country, image, preferred language).",
        "description": "Builds an UpdateUserCommand from the caller's existing Email/Active/Roles plus the new fields and routes through the same UAM update path as UpdateUser. If PreferredLanguage is supplied, also updates it on all of the user's ClmTeamMember records.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonProfileCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonProfileCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonProfileCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/UpdateUser": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Updates a user's core profile in UAM and mirrors the change to the local Person and ClmTeamMember records.",
        "description": "If Email differs from the currently stored email, Active is forced to false. Throws if the UAM update call fails or returns errors; on success, also re-resolves the user's organization from the email domain.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/UpdateUserFavoriteMaterial": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Adds or removes a material from the current user's favorites list for a given site.",
        "description": "Rejects adding an already-favorited material or removing one that isn't favorited. Creates the user's ClmUserSetting record on first use if it doesn't exist yet.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserFavoriteMaterialCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserFavoriteMaterialCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserFavoriteMaterialCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/UpsertFeatureEndpointMaps": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Bulk creates and/or updates feature-to-role mapping records that drive which roles can see/use which app features.",
        "description": "Entries whose Id matches an existing FeatureRoleMap are updated in place; entries with no match are inserted as new records. Admin only.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureEndpointMapsUpsertCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureEndpointMapsUpsertCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureEndpointMapsUpsertCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/UpsertFeatureRoleMaps": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureRoleMapsUpsertCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureRoleMapsUpsertCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureRoleMapsUpsertCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamCommand/UpsertVendorTeam": {
      "post": {
        "tags": [
          "ClmTeamCommand"
        ],
        "summary": "Creates a new CLM team (vendor or any other type) or updates an existing one, keeping discipline translations, team groupings, and draft materials in sync.",
        "description": "Validates the project/site exists for the given team type, and that Name/Alias are unique within that\r\nscope. On create, enqueues background team setup and (if draft materials are present) requested-materials\r\ncreation. On update, re-syncs discipline translations, may trigger draft-material creation if discipline\r\nwas newly set, and always upserts the team's grouping(s).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTeamCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTeamCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTeamCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/CheckTeamAliasNameIsValid": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Checks whether a proposed team alias is unique within its site/project scope.",
        "description": "Same validation pattern as M:ClmTeamWebService.Controllers.Query.ClmTeamQueryController.CheckTeamNameIsValid(Queries.TeamNameValidityCheckQuery), applied to the team alias instead of its name.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamAliasNameValidityCheckQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamAliasNameValidityCheckQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TeamAliasNameValidityCheckQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/CheckTeamNameIsValid": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Checks whether a proposed team name is unique within its site/project scope, while creating or renaming a team.",
        "description": "Comparison is case-insensitive against non-deleted teams, scoped by project for project-level team types or by site for site-level types. Returns false if the name is blank or the site doesn't resolve.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamNameValidityCheckQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamNameValidityCheckQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TeamNameValidityCheckQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetAdminUserListExcel": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Generates a downloadable Excel list of all Admin-role users.",
        "description": "Side-effecting: pulls all Admin-role persons, builds a localized dataset, and generates/stores an Excel file.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAdminUserListExcelQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAdminUserListExcelQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAdminUserListExcelQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminUserListExcelDtoQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminUserListExcelDtoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetApproverJoinRequestCount": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns counts of join requests, by status, that the current user is authorized to approve/review — for dashboard badges.",
        "description": "Admin sees all requests. Non-admins get counts built from their ProjectManager (sites in their projects), SiteManager (site teams lacking a vendor admin, or pending vendor teams), and VendorAdmin (own team) scopes, always excluding the caller's own requests.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetApproverJoinRequestCountQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetApproverJoinRequestCountQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetApproverJoinRequestCountQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproverJoinRequestCountModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproverJoinRequestCountModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetApps": {
      "get": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns the app/feature map available to a given role, used to drive front-end navigation and feature flags.",
        "description": "SpecialProjectManager inherits ProjectManager's features. AppUser has \"shipments\"/\"projects\" features stripped and gains \"user-request\". SitePlanner gains \"teams.invite_user\".",
        "parameters": [
          {
            "name": "RoleName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAppResponseModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAppResponseModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetClmTeamGroupings": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns a paginated list of team \"groupings\" for a site (shipment/material team dashboard).",
        "description": "Callers without admin/PM/site-level roles are restricted to groupings for teams they're personally assigned to as a vendor.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClmTeamGroupingsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ClmTeamGroupingsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ClmTeamGroupingsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClmTeamGroupingsDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClmTeamGroupingsDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetExtendPersonInfo": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns an extended profile combining Person, User, ClmTeamMember, and temporary-role data for a given user/person.",
        "description": "Requires at least one of UserId or PersonId to resolve an existing record; PersonId is preferred to resolve the user. Email permissions are only included when the caller is requesting their own profile.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExtendedPersonQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExtendedPersonQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetExtendedPersonQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedPersonResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedPersonResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetGdprForUser": {
      "get": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Checks whether the user identified by the given access token has granted GDPR/terms-and-conditions consent.",
        "description": "Anonymous endpoint used during onboarding. If the token's email host is not on the allowed list, validation\r\ndeletes the associated User/Person/UserRoleMap/UserTermAndConditionGrant records as a side effect.",
        "parameters": [
          {
            "name": "AccessToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGdprForUserResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGdprForUserResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetIncompleteSelfRegisteredUserList": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns a paginated list of self-registered users within an organization who haven't completed registration, for admin follow-up/cleanup.",
        "description": "Requires OrganizationId to map to an existing ClmOrganization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncompleteSelfRegisteredUserListGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/IncompleteSelfRegisteredUserListGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/IncompleteSelfRegisteredUserListGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncompleteSelfRegisteredUserResponseListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncompleteSelfRegisteredUserResponseListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetInvitationInfo": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Determines which teams an email address can be invited to for a given site or project, accounting for the invited user's existing roles and the caller's own permissions.",
        "description": "Validation rejects invalid emails, non-existent sites/projects, targets already assigned to the team/site/project,\r\ntargets who are Admin, inactive incomplete self-registered users, or stuck in a failed-invite loop. Candidate teams\r\nare first scoped by the caller's role (admin/PM see all; SitePlanner site-level only; SiteManager excludes SP team;\r\nVendorAdmin only their own vendor teams), then narrowed by the invited user's existing roles/pending requests.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationInfoQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationInfoQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationInfoQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationInfoDtoQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationInfoDtoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetInvitationList": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns a paginated list of pending and past user invitations for a site (invitation status tracker).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvitationListQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvitationListQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvitationListQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClmInvitedUserModelListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClmInvitedUserModelListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetJoinRequestDetails": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns full detail of a single team join request for the review/detail screen.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinRequestDetailsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinRequestDetailsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/JoinRequestDetailsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JoinRequestDetailsModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JoinRequestDetailsModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetJoinRequestList": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns a paginated, role-scoped list of team join requests for approvers to review.",
        "description": "Visibility is role-based: Admin/ProjectManager/ProjectPlanner see all requests (optionally filtered by site/team);\r\nSiteManager/SitePlanner/SitePlannerMobile/ConstructionManagerMobile see requests for their site limited to teams\r\nwithout a VendorAdmin, unless `ShowAllRequest` is set; VendorAdmin sees only requests for their own assigned\r\nteams; any other role gets an empty result.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetJoinRequestListQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetJoinRequestListQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetJoinRequestListQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JoinRequestListModelListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JoinRequestListModelListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetJoinRequestListCount": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns just the total count for the same filtered, role-scoped join-request search as M:ClmTeamWebService.Controllers.Query.ClmTeamQueryController.GetJoinRequestList(Queries.GetJoinRequestListQuery) (used for badges/counters).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetJoinRequestListCountQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetJoinRequestListCountQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetJoinRequestListCountQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Int32QueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Int32QueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetLoginInfoByDevice": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Reports each user's most recent login session per device category (Web vs. Mobile), for usage/device analytics.",
        "description": "Device is inferred from the session's device-information string (Mobile if it contains \"android\", or both \"ios\" and \"smartphone\"; Web otherwise). For each user/device pair, the most recent active session is preferred, falling back to the most recent session overall.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsageByDeviceGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UsageByDeviceGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UsageByDeviceGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageByDeviceResponseListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageByDeviceResponseListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetSiteEmailPermissions": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns the email notification permissions configured for a user at a given site.",
        "description": "Requires SiteId to exist, and UserId (if provided) to exist. Admin team members get their global permissions; others get their site-specific assignment, falling back to a project-level assignment if no direct site assignment exists.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteEmailPermissionsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteEmailPermissionsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteEmailPermissionsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClmEmailPermissionListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClmEmailPermissionListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetSiteResponsiblePersons": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Lists responsible-person contacts for a site (e.g. for shipment sender/recipient pickers), combining regular team-member assignments with manually added additional responsible persons.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteResponsiblePersonGetQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteResponsiblePersonGetQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SiteResponsiblePersonGetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponsiblePersonDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponsiblePersonDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetSiteWithTeamFromUserDomain": {
      "get": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Suggests sites and vendor teams the current user could self-assign to, based on their email domain and any existing vendor assignments.",
        "description": "Vendor teams are matched by domain (or where the caller already holds a vendor role on that site), excluding teams already assigned/pending. Sites are filtered to active ones matching whitelisted/user domains, or containing a matched team, excluding sites the caller cannot access.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SiteWithTeamFromUserDomainQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteWithTeamFromUserDomainModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteWithTeamFromUserDomainModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetSiteWithTeamsFromSiteCode": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Resolves a site by its site code and lists vendor teams the current user could join there (e.g. via QR/code-based self-join).",
        "description": "Requires an active site with code-based joining enabled for the given code, and that the caller doesn't already\r\nhold a higher project/site-level (non-vendor) role there. If the caller is already a vendor on the site, all\r\nremaining unassigned vendor teams are returned; otherwise only domain-matching vendor teams.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteWithTeamsFromSiteCodeQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteWithTeamsFromSiteCodeQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SiteWithTeamsFromSiteCodeQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteWithTeamsSiteCodeResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteWithTeamsSiteCodeResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetTeamList": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns a paginated, searchable list of CLM teams for a site (team pickers/listing pages), surfacing the caller's own teams first by default.",
        "description": "Excludes soft-deleted teams and, unless `RequestedTeamNeeded` is set, teams still pending creation. When no\r\nsearch/order/type filters are applied, the caller's assigned teams are paged first, followed by the rest.\r\n`RemoveUserAssignedTeams` excludes teams the caller is already assigned to or has a pending request for.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTeamsForTeamQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTeamsForTeamQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetTeamsForTeamQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamListResponseModelListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamListResponseModelListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetTeamMembersForTeam": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns a paginated list of team members, either currently assigned to a team or unassigned candidates eligible for assignment to it.",
        "description": "If the caller is Admin and no SiteIds are given, all sites are considered. `Assigned=true` returns current members (search/filter applied); `Assigned=false` returns members with no matching site/project assignment, i.e. available to assign.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMembersForTeamQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMembersForTeamQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMembersForTeamQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMemberQueryDataListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMemberQueryDataListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetTeamMembersForTeamDownload": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Generates a downloadable Excel export of team members for the given sites/team.",
        "description": "Side-effecting: builds a localized dataset and generates/stores an Excel file rather than just reading data.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMembersForTeamDownloadQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMembersForTeamDownloadQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMembersForTeamDownloadQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembersForTeamDownloadResponseQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembersForTeamDownloadResponseQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetTeams": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Broader team lookup for a site, not limited to vendor teams — filterable by team type, for callers that need all team types at once.",
        "description": "Requires SiteId to resolve to a site; if TeamIds is supplied, every id must be a valid vendor team for that site. The result itself is filtered by `TeamTypes` and is not restricted to vendor teams.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTeamsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTeamsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetTeamsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTeamDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTeamDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetTeamsForJoinRequest": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns a paginated, text-searchable list of teams at a site for the \"request to join a team\" flow.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamsForJoinRequestQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamsForJoinRequestQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TeamsForJoinRequestQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClmTeamDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClmTeamDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetUserEmailsForInvitation": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Autocomplete-style search for candidate user emails to invite to a project or site/team.",
        "description": "Branches on `Type`: project-scoped search vs. site/team-scoped search, each building a distinct membership predicate.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserEmailsForInvitationQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserEmailsForInvitationQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserEmailsForInvitationQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserEmailsForInvitationDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserEmailsForInvitationDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetUserPendingTeamRequestList": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Lists the authenticated user's own pending/rejected team-join requests.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUserPendingTeamRequestListQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUserPendingTeamRequestListQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetUserPendingTeamRequestListQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPendingTeamRequestListModelListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPendingTeamRequestListModelListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetUsersByOrganizationId": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns a paginated list of team members belonging to a given organization, with their team/site/role assignments.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUsersByOrganizationIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUsersByOrganizationIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetUsersByOrganizationIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUsersByOrganizationIdResponseModelListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUsersByOrganizationIdResponseModelListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetUserTeamRequestStatus": {
      "get": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns the authenticated user's own pending/rejected team-join request status, used to drive UI state.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/UserTeamRequestStatusQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTeamRequestStatusQueryModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTeamRequestStatusQueryModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetValidContactPerson": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Validates an email address and returns the sites it is a legitimate contact person (SiteManager or VendorAdmin) for.",
        "description": "Validation confirms the email exists (via UAM) and that the person currently holds a SiteManager/SitePlanner role on an active, accessible site, or a VendorAdmin role on one.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetValidContactPersonQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetValidContactPersonQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetValidContactPersonQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidContactPersonResponseModelQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidContactPersonResponseModelQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/ClmTeamQuery/GetVendorTeams": {
      "post": {
        "tags": [
          "ClmTeamQuery"
        ],
        "summary": "Returns a searchable list of vendor teams for a site, optionally restricted to a specific set of team ids.",
        "description": "Requires SiteId to resolve to a site; if TeamIds is supplied, every id must be a valid, non-deleted vendor team belonging to that site.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VendorTeamsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VendorTeamsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VendorTeamsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorTeamsDtoListQueryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorTeamsDtoListQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/Test/GetString": {
      "get": {
        "tags": [
          "Test"
        ],
        "summary": "Health/liveness check for the web service.",
        "description": "Does not touch any downstream dependency (database, host service, queue) — it only confirms the web service process is up and responding.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/Test/GetTeamData": {
      "post": {
        "tags": [
          "Test"
        ],
        "summary": "Runs a named data-read/report operation via `ITeamDataProcessorService` and returns its result.",
        "description": "Same reflection-based dispatch as M:ClmTeamWebService.Controllers.TestController.ProcessTeamData(Commands.TeamDataProcessorCommand), but for operations that return data rather than mutate it\r\n(currently only `GetTeamsWithoutDiscipline`, which returns teams missing a discipline assignment). Restricted to admin role.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTeamDataProcessorCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTeamDataProcessorCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetTeamDataProcessorCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseWithResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponseWithResult"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/Test/GetUserData": {
      "get": {
        "tags": [
          "Test"
        ],
        "summary": "Returns the super-admin/default-password configuration values currently loaded by the service, from both app settings and environment variables.",
        "description": "Diagnostic endpoint used to confirm which configuration source (appsettings vs. environment variable) is actually in effect for\r\nthe super-admin bootstrap credentials. Restricted to admin role; exposes sensitive credential configuration and should only be used for troubleshooting environment setup.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/ClmTeamWebService/Test/ProcessTeamData": {
      "post": {
        "tags": [
          "Test"
        ],
        "summary": "Runs a named one-off data-maintenance/data-fix operation synchronously and returns its result immediately.",
        "description": "This is an internal admin utility, not a regular business endpoint. command.ProcessName is used via reflection\r\nto invoke a matching method on `ITeamDataProcessorService` (e.g. deleting stale users, backfilling disciplines/roles,\r\nrenaming system teams, populating team groupings, etc. — see `ITeamDataProcessorService` for the full catalog of supported\r\noperations). If no method with that name exists, the command fails with an error. Restricted to admin role.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamDataProcessorCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamDataProcessorCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TeamDataProcessorCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/Test/ProcessTeamDataInBackground": {
      "post": {
        "tags": [
          "Test"
        ],
        "summary": "Queues the same named data-maintenance operation as M:ClmTeamWebService.Controllers.TestController.ProcessTeamData(Commands.TeamDataProcessorCommand) for asynchronous execution by the host service, instead of running it inline.",
        "description": "Use for long-running maintenance operations that would otherwise time out a synchronous HTTP request. Restricted to admin role.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamDataProcessorCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamDataProcessorCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TeamDataProcessorCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/ClmTeamWebService/Test/ProcessTeamsDataMigration": {
      "post": {
        "tags": [
          "Test"
        ],
        "summary": "Queues a named data-migration operation for asynchronous execution by the host service.",
        "description": "Like M:ClmTeamWebService.Controllers.TestController.ProcessTeamData(Commands.TeamDataProcessorCommand) but backed by `ITeamsMigrationService`, which holds one-off migration routines\r\n(e.g. assigning SP mobile roles to sites/warehouses/shipments, backfilling team-based roles across shipments, equipment\r\nbookings, warehouses, etc. — see `ITeamsMigrationService` for the full catalog). Restricted to admin role.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamsMigrationCommand"
              }
            },
[...]
